@import '../_commons.scss';

.editor {
  all: initial;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;

  .input {
    height: 100%;
    width: 100%;
    border-right: 1px solid $silver;

    > textarea {
      height: 100%;
      width: 100%;
      resize: none;
      border: none;
      outline: none;
      padding: 20px;
      font-family: $font-family;
      font-size: $font-size;
      color: $font-color;
    }
  }

  .render {
    height: 100%;
    width: 100%;
    background-color: $clouds;
    padding: 20px;
    overflow: auto;

    table {
      border-spacing: 0;
      border-collapse: collapse;

      tr {
        background-color: white;

        &:nth-child(2n) {
          background-color: $clouds;
        }

        th,
        td {
          padding: 6px 13px;
          border: 1px solid $silver;
        }
      }
    }
  }
}
